.boxContainer {  /* This sets up the spacing and alignment for the boxes */
    display: flex;
    flex-direction: row;
}

.redBox {  /* Each of these classes sets up the shape of the box and the color */
        background-color: #F36523;
        height: 30px;
        width: 30px
        
}

.greenBox {
        background-color: #8DC73F;
        height: 30px;
        width: 30px
        
}

.blueBox {
    background-color: #00adef;
    height: 30px;
    width: 30px
    
}

.yellowBox {
    background-color: #FFC20F;
    height: 30px;
    width: 30px
    
}